@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  cursor: pointer;
}

html,
body {
  width: 100%;
  background-color: #000000;
}

section {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0 150px;
  padding-bottom: 60px;
}

header{
  display: flex;
padding: 60px 0;
justify-content: space-between;
align-items: center;
}

.left, .right{
  display: flex;
  align-items: center;
  gap: 30px;
}

.left p, .right p{
  color: #5A5A5A;
  font-weight: 700;
  font-size: 18px;
}

.right button{
  background-color: #ffffff;
  border: 0;
  font-size: 18px;
  color: #5A5A5A;
}

#login{
  font-weight: normal;
  
}

#create{
  background-color: black;
  color: #ffffff;
  padding: 21px 28px;
  border-radius: 5px;
}

.search{
  background-color: #F9F6F1;
  padding: 65px 55px;
  margin-bottom: 80px;
}

.search h1{
  font-size: 36px;
  margin-bottom: 18px;
}

.search p{
  width: 395px;
  font-size: 18px;
  color: #5A5A5A;
  line-height: 25px;
  margin-bottom: 18px;
}

input{
  width: 254px;
  padding: 20px 0;
  padding-left: 25px;
  font-size: 18px;
  border: 1px solid #C9CAC5;
  border-radius: 5px;
}

input:focus{
  outline: none;
}

.fontAwesome{
  font-family: Archivo, 'FontAwesome', sans-serif;
}

.input-div button{
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 22px 27px;
  border: none;
  border-radius: 5px;
  margin-left: 18px;
  font-weight: 600;
}

.span-div{
  margin-top: 20px;
}

.span-div span{
  font-size: 18px;
  text-decoration: underline;
}

.camps{
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 30px;
  margin-bottom: 80px;
}

.camps div{
  padding: 15px;
  border: 1px solid #C9CAC5;
  /* height: 380px; */
  width: 360px;
  border-radius: 5px;
}

.camps div img{
  width: 100%;
  height: 182px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.camps div h1{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.camps div p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
   color: #5A5A5A;
}

.camps div button{
  width: 100%;
  border: 1px solid #C9CAC5;
  background-color: #ffffff;
  padding: 17px 0;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 800;
}