@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  cursor: pointer;
}

html,
body {
  width: 100%;
  background-color: #000000;
}

section {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0 150px;
  padding-bottom: 60px;
}

header {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: none;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left p,
.right p {
  color: #5a5a5a;
  font-weight: 700;
  font-size: 18px;
}

.right button {
  background-color: #ffffff;
  border: 0;
  font-size: 18px;
  color: #5a5a5a;
}

#login {
  font-weight: normal;
}

#create {
  background-color: black;
  color: #ffffff;
  padding: 21px 28px;
  border-radius: 5px;
}

.search {
  background-color: #f9f6f1;
  padding: 65px 55px;
  margin-bottom: 80px;
}

.search h1 {
  font-size: 36px;
  margin-bottom: 18px;
}

.search p {
  width: 395px;
  font-size: 18px;
  color: #5a5a5a;
  line-height: 25px;
  margin-bottom: 18px;
}

input {
  width: 254px;
  padding: 20px 0;
  padding-left: 25px;
  font-size: 18px;
  border: 1px solid #c9cac5;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.fontAwesome {
  font-family: Archivo, "FontAwesome", sans-serif;
}

.input-div button {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 22px 27px;
  border: none;
  border-radius: 5px;
  margin-left: 18px;
  font-weight: 600;
}

.span-div {
  margin-top: 20px;
  border-bottom: 2px solid #85827D;
  width: max-content;
}

.span-div span {
  font-size: 18px;
}

.camps {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 30px;
  margin-bottom: 80px;
}

.camps div {
  padding: 15px;
  border: 1px solid #c9cac5;
  /* height: 380px; */
  width: 360px;
  border-radius: 5px;
}

.camps div img {
  width: 100%;
  height: 182px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.camps div h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.camps div p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #5a5a5a;
}

.camps div button {
  width: 100%;
  border: 1px solid #c9cac5;
  background-color: #ffffff;
  padding: 17px 0;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 800;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
  section {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    padding-bottom: 30px;
  }

  header {
    padding: 30px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search {
    padding: 35px 30px;
    margin-bottom: 35px;
  }

  .search h1 {
    margin-bottom: 10px;
  }

  .search p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  .input-div button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .span-div span {
    font-size: 16px;
  }

  .camps {
    display: block;
    margin-bottom: 30px;
  }

  .camps div {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 450px */
@media screen and (min-width: 375px) and (max-width: 450px) {
  section {
    width: 375px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 30px;
  }

  header {
    padding: 30px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search {
    padding: 35px 30px;
    margin-bottom: 35px;
  }

  .search h1 {
    margin-bottom: 10px;
  }

  .search p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  .input-div button {
    font-size: 16px;

    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .span-div span {
    font-size: 16px;
  }

  .camps {
    display: block;
    margin-bottom: 30px;
  }

  .camps div {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 451px TO 525px */
@media screen and (min-width: 451px) and (max-width: 525px) {
  section {
    width: 450px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 30px;
  }

  header {
    padding: 30px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search {
    padding: 35px 30px;
    margin-bottom: 35px;
  }

  .search h1 {
    margin-bottom: 10px;
  }

  .search p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  .input-div button {
    font-size: 16px;

    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .span-div span {
    font-size: 16px;
  }

  .camps {
    display: block;
    margin-bottom: 30px;
    padding: 0 35px;
  }

  .camps div {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 526px TO 600px */
@media screen and (min-width: 526px) and (max-width: 600px) {
  section {
    width: 525px;
    margin: auto;
    padding: 0 50px;
    padding-bottom: 30px;
  }

  header {
    padding: 30px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search {
    padding: 35px 30px;
    margin-bottom: 35px;
  }

  .search h1 {
    margin-bottom: 10px;
  }

  .search p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  .input-div button {
    font-size: 16px;

    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .span-div span {
    font-size: 16px;
  }

  .camps {
    display: block;
    margin-bottom: 30px;
    padding: 0 25px;
  }

  .camps div {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 601px TO 685px */
@media screen and (min-width: 601px) and (max-width: 685px) {
  section {
    width: 600px;
    margin: auto;
    padding: 0 70px;
    padding-bottom: 30px;
  }

  header {
    padding: 30px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search {
    padding: 35px 30px;
    margin-bottom: 35px;
  }

  .search h1 {
    margin-bottom: 10px;
  }

  .search p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  .input-div button {
    font-size: 16px;

    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .span-div span {
    font-size: 16px;
  }

  .camps {
    display: block;
    margin-bottom: 30px;
    padding: 0 45px;
  }

  .camps div {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 686px TO 767px */
@media screen and (min-width: 686px) and (max-width: 767px) {
  section {
    width: 685px;
    margin: auto;
    padding: 0 70px;
    padding-bottom: 30px;
  }

  header {
    padding: 30px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search {
    padding: 35px 30px;
    margin-bottom: 35px;
  }

  .search h1 {
    margin-bottom: 10px;
  }

  .search p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  .input-div button {
    font-size: 16px;

    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .span-div span {
    font-size: 16px;
  }

  .camps {
    display: block;
    margin-bottom: 30px;
    padding: 0 85px;
  }

  .camps div {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 768px TO 840px */

@media screen and (min-width: 768px) and (max-width: 840px) {
  section {
    width: 768px;
    margin: auto;
    padding: 0 40px;
    padding-bottom: 80px;
  }

  header{
      padding: 40px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search{
    padding: 70px 55px;
    margin-bottom: 40px;
  }

  .camps{
    display: grid;
    grid-template-columns: 333px 333px;
    gap: 20px;
  }

  .camps div{
    width: 333px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 841px TO 915px */
@media screen and (min-width: 841px) and (max-width: 915px) {
  section {
    width: 840px;
    margin: auto;
    padding: 0 40px;
    padding-bottom: 80px;
  }

  header{
      padding: 40px 0;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  .navigation-bar {
    display: block;
    background-color: #f9f6f1;
    padding: 12px;
    font-size: 18px;
  }

  .search{
    padding: 70px 55px;
    margin-bottom: 40px;
  }

  .camps{
    display: grid;
    grid-template-columns: 333px 333px;
    gap: 20px;
    justify-content: center;
  }

  .camps div{
    width: 333px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 916px TO 990px */

@media screen and (min-width: 916px) and (max-width: 990px) {
  section {
    width: 915px;
    margin: auto;
    padding: 0 40px;
    padding-bottom: 80px;
  }

  header{
      padding: 40px 0;
  }

  .search{
    padding: 70px 55px;
    margin-bottom: 40px;
  }

  .camps{
    display: grid;
    grid-template-columns: 333px 333px;
    gap: 20px;
    justify-content: center;
  }

  .camps div{
    width: 333px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 991px TO 1065px */

@media screen and (min-width: 991px) and (max-width: 1065px) {
  section {
    width: 990px;
    margin: auto;
     padding: 0 80px;
    padding-bottom: 80px;
  }

   header{
      padding: 40px 0;
  }

  .search{
    padding: 70px 55px;
    margin-bottom: 40px;
  }

  .camps{
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    justify-content: center;
  }

  .camps div{
    width: 360px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 1066px TO 1140px */

@media screen and (min-width: 1066px) and (max-width: 1140px) {
  section {
    width: 1065px;
    margin: auto;
    padding: 0 80px;
    padding-bottom: 80px;
  }

  header{
      padding: 40px 0;
  }

  .search{
    padding: 70px 55px;
    margin-bottom: 40px;
  }

  .camps{
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    justify-content: center;
  }

  .camps div{
    width: 360px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 1141px TO 1439px */

@media screen and (min-width: 1141px) and (max-width: 1439px) {
  section {
    width: 1140px;
    margin: auto;
    padding: 0 80px;
    padding-bottom: 80px;
  }

  header{
      padding: 40px 0;
  }

  .search{
    padding: 70px 55px;
    margin-bottom: 40px;
  }

  .camps{
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    justify-content: center;
  }

  .camps div{
    width: 360px;
  }
}
